In [1]:
import pandas as pd

In [2]:
# Carga los archivos CSV
game_summary = pd.read_csv("game_summary.csv")
line_score = pd.read_csv("line_score.csv")
other_stats = pd.read_csv("other_stats.csv")

In [4]:
# Muestra las primeras filas
print(game_summary.head())

# Muestra la informaci√≥n de las columnas
print(game_summary.info())

         game_date_est  game_sequence   game_id  game_status_id  \
0  1946-11-01 00:00:00            NaN  24600001               3
1  1946-11-02 00:00:00            NaN  24600003               3
2  1946-11-02 00:00:00            NaN  24600002               3
3  1946-11-02 00:00:00            NaN  24600004               3
4  1946-11-02 00:00:00            NaN  24600005               3

  game_status_text         gamecode  home_team_id  visitor_team_id  season  \
0              NaN  19461101/NYKHUS    1610610035       1610612752    1946
1              NaN  19461102/PITBOM    1610610034       1610610031    1946
2              NaN  19461102/BOSPRO    1610610032       1610612738    1946
3              NaN  19461102/NYKCHS    1610610025       1610612752    1946
4              NaN  19461102/WASDEF    1610610028       1610610036    1946

   live_period live_pc_time natl_tv_broadcaster_abbreviation  \
0            5          NaN                              NaN
1            4          NaN                              NaN
2            4          NaN                              NaN
3            4          NaN                              NaN
4            4          NaN                              NaN

  live_period_time_bcast  wh_status
0                 Q5  -           1
1                 Q4  -           1
2                 Q4  -           1
3                 Q4  -           1
4                 Q4  -           1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58110 entries, 0 to 58109
Data columns (total 14 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   game_date_est                     58110 non-null  object
 1   game_sequence                     32578 non-null  float64
 2   game_id                           58110 non-null  int64
 3   game_status_id                    58110 non-null  int64
 4   game_status_text                  32124 non-null  object
 5   gamecode                          58110 non-null  object
 6   home_team_id                      58110 non-null  int64
 7   visitor_team_id                   58110 non-null  int64
 8   season                            58110 non-null  int64
 9   live_period                       58110 non-null  int64
 10  live_pc_time                      2024 non-null   object
 11  natl_tv_broadcaster_abbreviation  6203 non-null   object
 12  live_period_time_bcast            58110 non-null  object
 13  wh_status                         58110 non-null  int64
dtypes: float64(1), int64(7), object(6)
memory usage: 6.2+ MB
None

In [5]:
print(line_score.head())
print(line_score.info())

         game_date_est  game_sequence   game_id  team_id_home  \
0  1946-11-01 00:00:00            NaN  24600001    1610610035
1  1946-11-02 00:00:00            NaN  24600003    1610610034
2  1946-11-02 00:00:00            NaN  24600002    1610612738
3  1946-11-02 00:00:00            NaN  24600004    1610610025
4  1946-11-02 00:00:00            NaN  24600005    1610610036

  team_abbreviation_home team_city_name_home team_nickname_home  \
0                    HUS             Toronto            Huskies
1                    BOM           St. Louis            Bombers
2                    BOS              Boston            Celtics
3                    CHS             Chicago              Stags
4                    WAS          Washington           Capitols

  team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  ...  pts_ot2_away  \
0                     -            NaN            NaN  ...           NaN
1                     -           16.0           16.0  ...           NaN
2                     -           10.0           16.0  ...           NaN
3                     -            NaN            NaN  ...           NaN
4                     -           21.0            4.0  ...           NaN

   pts_ot3_away  pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  \
0           NaN           NaN           NaN           NaN           NaN
1           NaN           NaN           NaN           NaN           NaN
2           NaN           NaN           NaN           NaN           NaN
3           NaN           NaN           NaN           NaN           NaN
4           NaN           NaN           NaN           NaN           NaN

   pts_ot8_away  pts_ot9_away  pts_ot10_away  pts_away
0           NaN           NaN            NaN      68.0
1           NaN           NaN            NaN      51.0
2           NaN           NaN            NaN      59.0
3           NaN           NaN            NaN      47.0
4           NaN           NaN            NaN      33.0

[5 rows x 43 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58053 entries, 0 to 58052
Data columns (total 43 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_date_est           58053 non-null  object
 1   game_sequence           32521 non-null  float64
 2   game_id                 58053 non-null  int64
 3   team_id_home            58053 non-null  int64
 4   team_abbreviation_home  58053 non-null  object
 5   team_city_name_home     58053 non-null  object
 6   team_nickname_home      58053 non-null  object
 7   team_wins_losses_home   58053 non-null  object
 8   pts_qtr1_home           57049 non-null  float64
 9   pts_qtr2_home           57040 non-null  float64
 10  pts_qtr3_home           57008 non-null  float64
 11  pts_qtr4_home           57009 non-null  float64
 12  pts_ot1_home            32294 non-null  float64
 13  pts_ot2_home            31002 non-null  float64
 14  pts_ot3_home            30810 non-null  float64
 15  pts_ot4_home            30783 non-null  float64
 16  pts_ot5_home            12476 non-null  float64
 17  pts_ot6_home            12475 non-null  float64
 18  pts_ot7_home            12475 non-null  float64
 19  pts_ot8_home            12475 non-null  float64
 20  pts_ot9_home            12475 non-null  float64
 21  pts_ot10_home           12475 non-null  float64
 22  pts_home                58053 non-null  float64
 23  team_id_away            58053 non-null  int64
 24  team_abbreviation_away  58053 non-null  object
 25  team_city_name_away     58053 non-null  object
 26  team_nickname_away      58053 non-null  object
 27  team_wins_losses_away   58053 non-null  object
 28  pts_qtr1_away           57043 non-null  float64
 29  pts_qtr2_away           57040 non-null  float64
 30  pts_qtr3_away           57007 non-null  float64
 31  pts_qtr4_away           57007 non-null  float64
 32  pts_ot1_away            32294 non-null  float64
 33  pts_ot2_away            31002 non-null  float64
 34  pts_ot3_away            30810 non-null  float64
 35  pts_ot4_away            30783 non-null  float64
 36  pts_ot5_away            12476 non-null  float64
 37  pts_ot6_away            12475 non-null  float64
 38  pts_ot7_away            12475 non-null  float64
 39  pts_ot8_away            12475 non-null  float64
 40  pts_ot9_away            12475 non-null  float64
 41  pts_ot10_away           12475 non-null  float64
 42  pts_away                58053 non-null  float64
dtypes: float64(31), int64(3), object(9)
memory usage: 19.0+ MB
None

In [6]:
print(other_stats.head())
print(other_stats.info())

    game_id  league_id  team_id_home team_abbreviation_home team_city_home  \
0  29600012          0    1610612756                    PHX        Phoenix
1  29600005          0    1610612737                    ATL        Atlanta
2  29600002          0    1610612739                    CLE      Cleveland
3  29600007          0    1610612754                    IND        Indiana
4  29600013          0    1610612746                    LAC    Los Angeles

   pts_paint_home  pts_2nd_chance_home  pts_fb_home  largest_lead_home  \
0              44                   18            2                  1
1              32                    9            6                  0
2              36                   14            6                 20
3              34                   11            4                 10
4              40                   19            2                 12

   lead_changes  ...  team_abbreviation_away  team_city_away  pts_paint_away  \
0             4  ...                     LAL     Los Angeles              42
1             0  ...                     MIA           Miami              32
2             1  ...                     NJN      New Jersey              26
3             7  ...                     DET         Detroit              30
4             5  ...                     GSW    Golden State              30

   pts_2nd_chance_away  pts_fb_away  largest_lead_away team_turnovers_away  \
0                   10           13                 19                 0.0
1                   15           14                 16                 1.0
2                   16            4                  2                 1.0
3                   14            7                  9                 2.0
4                    9            2                  6                 0.0

  total_turnovers_away  team_rebounds_away  pts_off_to_away
0                 23.0                11.0              NaN
1                 19.0                 6.0              NaN
2                 22.0                12.0              NaN
3                 19.0                10.0              NaN
4                 20.0                 7.0              NaN

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28271 entries, 0 to 28270
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 28271 non-null  int64
 1   league_id               28271 non-null  int64
 2   team_id_home            28271 non-null  int64
 3   team_abbreviation_home  28271 non-null  object
 4   team_city_home          28271 non-null  object
 5   pts_paint_home          28271 non-null  int64
 6   pts_2nd_chance_home     28271 non-null  int64
 7   pts_fb_home             28271 non-null  int64
 8   largest_lead_home       28271 non-null  int64
 9   lead_changes            28271 non-null  int64
 10  times_tied              28271 non-null  int64
 11  team_turnovers_home     28269 non-null  float64
 12  total_turnovers_home    27955 non-null  float64
 13  team_rebounds_home      26273 non-null  float64
 14  pts_off_to_home         26148 non-null  float64
 15  team_id_away            28271 non-null  int64
 16  team_abbreviation_away  28271 non-null  object
 17  team_city_away          28271 non-null  object
 18  pts_paint_away          28271 non-null  int64
 19  pts_2nd_chance_away     28271 non-null  int64
 20  pts_fb_away             28271 non-null  int64
 21  largest_lead_away       28271 non-null  int64
 22  team_turnovers_away     28269 non-null  float64
 23  total_turnovers_away    27955 non-null  float64
 24  team_rebounds_away      26273 non-null  float64
 25  pts_off_to_away         26148 non-null  float64
dtypes: float64(8), int64(14), object(4)
memory usage: 5.6+ MB
None